/*-------------HTML Styles---------------*/
*{
	box-sizing: border-box;
}

body {
	max-width: 1000px;
	margin: 0 auto;
	background-color: white;
}

div.search {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

input {
	width: 400px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid #d9d9d9;
	padding: 0 1em;
	font-size: 16px;
	margin: 30px 0;
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

img {
	width: 175px;
	height: 175px;
	margin: 20px;
}